<!-- 
<div class="modal-header">
    <h4 class="modal-title">Add Designation</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Designation Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Designation Name">
    </div>
    </form>
</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
   
 -->

 <ol>
  <mat-grid-list cols="2" rowHeight="2:1">
    <h4 class="modal-title" *ngIf="!edit">Add Designation</h4>
    <h4 class="modal-title" *ngIf="edit" >  Edit Designation</h4>
    <form [formGroup]="addDesignationForm" > 

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 10 characters" appearance="outline">
          <mat-label>Enter Designation Name</mat-label>
          <input matInput #input maxlength="20" placeholder="Ex. HOD" formControlName="designationForm" >
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
    </form>

  </mat-grid-list>

 
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="saveDesignation()">Save</button>
  <button mat-raised-button  color="accent" (click)="close()" >Cancel</button>
    
  </div>

  
</ol>
  
